.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffffff;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: -15px;
      opacity: 0.6;
    }

    &:after {
      content: '</h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffffff;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 4.1s backwards;
      opacity: 0.6;
    }

  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 4.2s backwards;
  }

.flat-button {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #ffffff;
  margin-top: 25px;
  float: left;
  animation: fadeIn 1s 4.4s backwards;
  white-space: nowrap;
  transition: 0.3s;

  &:hover {
    background: #A5D7E8;
    color: #333;
    box-shadow: 0 10px 10px rgba(242, 242, 242, 0.2);
    transform: translate3d(0, -5px, 0);
  }
}

}


@media screen and (max-width: 1200px) {
  .tags,
  .home-page h1:before,
  .home-page h1:after {
    display: none;
  }

  .home-page .text-zone {
    position: initial;
    width: 100%;
    transform: none;
    padding: 10px;
    box-sizing: border-box;
  }

  .home-page .flat-button {
    float: none;
    display: block;
    margin: 20px auto 0 auto;
    width: 124px;
  }

  .logo-container {
    position: relative;
    width: 100px;
    height: auto;
    top: 50px;
    right: 0;
    box-sizing: border-box;
    margin: auto;
    left: 0;
  }

  .logo-container svg {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
  }
}


.myImage {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  border: 5px solid lightblue;
  position: absolute;
  right: 20%;
  top: 10%;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    transform: scale(1.04);
    box-shadow: 0 0 20px lightblue;
  }
}

